@{
    Layout = "UserLoggedLayout";
    ViewData["Title"] = "Zarządzanie kontem";
}
<div class="col-0 col-lg-3"></div>
<div class="container-fluid DarkViolet col-12 col-lg-6">
    <center><h1>Zarządzanie kontem</h1></center>
    <hr>
    <center><h2>Usuń konto</h2></center>

    <center><button class="UniversalButton" style="width: 200px; height: 40px; margin: 0;">Usuń konto</button></center>
    <hr>
    <center><h2>Uzupełnij/modyfikuj profil</h2></center>
    <form>
        <b>Zdjęcie profilowe:</b>
        <input type="file" class="form-control"><br>
        <b>Imie:</b>
        <input type="text" class="form-control"><br>
        <b>Nazwisko:</b>
        <input type="text" class="form-control"><br>
        <b>Email:</b>
        <input type="text" class="form-control"><br>
        <b>Numer telefonu:</b>
        <input type="text" class="form-control"><br>
        <center><button class="UniversalButton" style="width: 200px; height: 40px; margin: 0;">Zapisz</button></center>
    </form>
    <hr>
    <b>Umiejętności:</b>
    <div class="row">
        <div class="col-12 col-lg-10">
            <select class="form-control">
                <option>WPF</option>
            </select><br>
        </div>
        <div class="col-12 col-lg-2">
            <button class="UniversalButton" style="width: 150px; height: 40px; margin: 0;">Dodaj umiejętność</button>
        </div>
    </div>
    <div>
        <b>Dodane Umiejętności:</b><br>
        <button class="ButtonSkills">Xamarin.Forms</button><button class="ButtonSkills">Github</button><button class="ButtonSkills">VS 2022</button><button class="ButtonSkills">C#</button>
    </div>
    <b>Opis:</b>
    <textarea class="form-control"></textarea><br>
    <hr>
    <h2>Doświadczenie</h2>
    <b>Nazwa pracy:</b>
    <input type="text" class="form-control"><br>
    <b>Pozycja:</b>
    <input type="text" class="form-control"><br>
    <b>Firma:</b>
    <input type="text" class="form-control"><br>
    <b>Kraj:</b>
    <input type="text" class="form-control"><br>
    <b>Miasto:</b>
    <input type="text" class="form-control"><br>
    <b>Początek:</b>
    <input type="date" class="form-control"><br>
    <b>Koniec:</b>
    <input type="date" class="form-control"><br>
    <b>Szczegóły pracy:</b>
    <textarea class="form-control"></textarea><br>
    <center><button class="UniversalButton" style="width: 200px; height: 40px; margin: 0;">Dodaj doświadczenie</button></center>
    <hr>
    <h2>Edukacja</h2>
    <b>Nazwa szkoły:</b>
    <input type="text" class="form-control"><br>
    <b>Lokalizacja szkoły:</b>
    <input type="text" class="form-control"><br>
    <b>Uzyskane wykształcenie:</b>
    <input type="text" class="form-control"><br>
    <b>Początek edukacji:</b>
    <input type="date" class="form-control"><br>
    <b>Koniec edukacji:</b>
    <input type="date" class="form-control"><br>
    <b>Szczegóły edukacji:</b>
    <textarea class="form-control"></textarea><br>
    <center><button class="UniversalButton" style="width: 200px; height: 40px; margin: 0;">Dodaj wykształcenie</button></center>
    <hr>
    <h2>Znane języki</h2>
    <b>Język - poziom znajomości:</b>
    <input type="text" class="form-control"><br>
    <center><button class="UniversalButton" style="width: 200px; height: 40px; margin: 0;">Dodaj język</button></center>
    <div>
        <b>Dodane języki:</b><br>
        <button class="ButtonSkills">Polski - Ojczysty</button>
    </div>
    <hr>
    <h2>Zainteresowania</h2>
    <b>Podaj zainteresowania:</b>
    <input type="text" class="form-control"><br>
    <center><button class="UniversalButton" style="width: 200px; height: 40px; margin: 0;">Dodaj</button></center>
    <div>
        <b>Dodane zainteresowania:</b><br>
        <button class="ButtonSkills">Piwo</button>
    </div>
</div>
<div class="col-0 col-lg-3"></div>
</div>