@{
    Layout = "UserLoggedLayout";
    ViewData["Title"] = "Widok ogłoszenia";
}
<div class="row">
    <div class="col-0 col-lg-2"></div>
    <div class="container-fluid DarkViolet col-12 col-lg-8">
        <hr>
        <div class="row">
            <div class="col-12 col-lg-3 LightViolet profileBorder">
                <img src="~/Graphics/logoTransparent.png" width="150px" height="150px" style="border-radius: 5%; border: #40356F 1px solid;">
                <h3 class="DarkViolet" style="margin-bottom: 10%; margin-top: 5%;">Nazwa firmy</h3>
                <hr>
                <label>Lokalizacja</label><br>
                <b class="DarkViolet">Kamienica, Polska</b><br>
                <hr>
                <label>NIP</label><br>
                <b class="DarkViolet">0123456789</b><br>
                <hr>
                <label>REGON</label><br>
                <b class="DarkViolet">123456789</b><br>
                <hr>
            </div>
            <div class="col-12 col-lg-5 profileBorder">
                <h3 style="text-align: center;">Nazwa stanowiska</h3>
                Dołącz do naszego zespołu jako doświadczony Programista C#/WPF i współtwórz innowacyjne aplikacje, które przyczynią się do rozwoju naszych produktów i usług. Jako kluczowy członek zespołu rozwoju oprogramowania będziesz odpowiedzialny za projektowanie, implementację oraz utrzymanie aplikacji desktopowych opartych na platformie Windows przy użyciu języka C# i frameworku Windows Presentation Foundation (WPF).
                <hr>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <label style="font-size: 14px;">Poziom stanowiska</label><br>
                        <b class="DarkViolet">poziom</b><br>
                    </div>
                    <div class="col-12 col-lg-6">
                        <label style="font-size: 14px;">Rodzaj umowy</label><br>
                        <b class="DarkViolet">rodzaj</b><br>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-12 col-lg-6">
                        <label style="font-size: 14px;">Wymiar pracy</label><br>
                        <b class="DarkViolet">wymiar</b><br>
                    </div>
                    <div class="col-12 col-lg-6">
                        <label style="font-size: 14px;">Tryb pracy</label><br>
                        <b class="DarkViolet">tryb</b><br>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-12 col-lg-6">
                        <label style="font-size: 14px;">Godziny pracy</label><br>
                        <b class="DarkViolet">godziny</b><br>
                    </div>
                    <div class="col-12 col-lg-6">
                        <label style="font-size: 14px;">Obowiązki</label><br>
                        <b class="DarkViolet">obowiązki</b><br>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-12 col-lg-6">
                        <label style="font-size: 14px;">Kategoria</label><br>
                        <b class="DarkViolet">kateogira</b><br>
                    </div>
                    <div class="col-12 col-lg-6">
                        <label style="font-size: 14px;">Podkategoria</label><br>
                        <b class="DarkViolet">podkategoria</b><br>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-12 col-lg-6">
                        <label style="font-size: 14px;">Benefity</label><br>
                        <b class="DarkViolet">benefity</b><br>
                    </div>
                    <div class="col-12 col-lg-6">
                        <label style="font-size: 14px;">Widełki wynagrodzenia</label><br>
                        <b class="DarkViolet">kwota</b><br>
                    </div>
                </div>
                <hr>

                <div>
                    <b>Wymagania:</b><br>
                    -Projektowanie i implementacja efektywnych rozwiązań w języku C# przy wykorzystaniu technologii WPF.
                    -Współpraca z zespołem projektowym w celu określenia i zrozumienia wymagań funkcjonalnych.
                    -Utrzymywanie i rozwijanie istniejących aplikacji, identyfikowanie i naprawianie błędów.
                </div>
                <hr>
                <div>
                    <b>Umiejętności -</b><button class="ButtonSkills">Xamarin.Forms</button><button class="ButtonSkills">Github</button><button class="ButtonSkills">VS 2022</button><button class="ButtonSkills">C#</button>
                </div>
            </div>
            <div class="col-12 col-lg-3 profileBorder">
                <label>Email firmy</label><br>
                <b class="DarkViolet">kontakt@outlook.com</b><br>
                <hr>
                <label>Numer telefonu firmy</label><br>
                <b class="DarkViolet">+48 534323432</b><br>
                <hr>
                <label>Termin ważności ogłoszenia</label><br>
                <b class="DarkViolet">01.01.2024</b><br>
                <hr>
                <center><button class="UniversalButton" style="width: 80%; background-color: #40356F; border: 1px solid #40356F;">Aplikuj</button></center>
            </div>
        </div>
        <hr>
    </div>
    <div class="col-0 col-lg-2"></div>
</div>