@{
    Layout = "UserLoggedLayout";
    ViewData["Title"] = "Ogłoszenia";
}
<div class="container-fluid DarkViolet col-12 col-lg-10">
    <hr>
    <!--Generowane z backend-->
    <b style="font-size: 30px;">Informacja 17.01.2024r.</b><br>
    <label style="font-size: 20px; font-weight: bold;">Poszukujemy Kreatywnego Grafika!</label><br>
    <label>
        Firma XYZ poszukuje doświadczonego grafika dołączającego do naszego zespołu w dziale marketingu. Oferujemy atrakcyjne wynagrodzenie, elastyczne godziny pracy i inspirujące środowisko kreatywne. Wymagane doświadczenie w projektowaniu graficznym oraz znajomość narzędzi takich jak Adobe Photoshop i Illustrator.
        CV i portfolio prosimy przesyłać na adres: grafik@xyzcompany.com
    </label>
    <hr>
</div>