@{
    Layout = "AdminLayout";
    ViewData["Title"] = "Zaloguj się";
}
<div style="width: 100%; text-align: center;">
    <img class="loginStyle" src="~/Graphics/logoTransparent.png"><br>
    <h3>Zaloguj się do Admin Panelu</h3>
    <center>
        <input style="width: 80%;" placeholder="Podaj email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> <br>
        <input style="width: 80%;" placeholder="Podaj hasło" type="password" class="form-control" id="exampleInputPassword1"><br>
    </center>
    <button onclick="LoadAdminPage()" type="submit" class="UniversalButton" style="width: 80%; height: 40px; border-radius: 5px;">Zaloguj</button><br><br>
    <button onclick="BackToHomePage()" type="submit" class="UniversalButton BackButton" style="width: 80%; margin: 0; font-size: 14px;">Wróć na stronę główną</button><br><br>
    <label>© 2024 Piotr Majchrzak 4TP1</label>
</div>