@{
    Layout = "AdminLoggedLayout";
    ViewData["Title"] = "Konta administratora";
}
<div class="row DarkViolet">
    <div class="col-12 col-lg-6">
        <center>
            <hr>
            <h3>Dodaj administratora</h3>
            <input placeholder="login" type="text" class="form-control" style="width: 250px; height: 40px; margin: 0; margin-bottom: 5px;">
            <input placeholder="hasło" type="password" class="form-control" style="width: 250px; height: 40px; margin: 0; margin-bottom: 5px;">
            <button class="UniversalButton" style="width: 250px; height: 40px;">Dodaj administratora</button>
        </center>
    </div>
    <div class="col-12 col-lg-6">
        <center>
            <hr>
            <h3>Dodaj administratora</h3>
            <select class="form-control" style="width: 250px; height: 40px; margin: 0; margin-bottom: 5px;">
                <option>ADMIN</option>
            </select>
            <button class="UniversalButton" style="width: 250px; height: 40px; border-color: #665D8C; background-color: #665D8C;">Usuń administratora</button>
        </center>
    </div>
</div>