@{
    Layout = "AdminLoggedLayout";
    ViewData["Title"] = "Kategorie";
}
<div class="row">
    <div class="col-0 col-lg-3"></div>
    <div class="container-fluid DarkViolet col-12 col-lg-6">
        <hr>
        <center>
            <h3>Kategoria</h3>

            <b>Nazwa kategorii:</b>
            <input type="text" class="form-control" style="width: 250px; height: 40px; margin: 0; margin-bottom: 5px;">
            <button class="UniversalButton" style="width: 250px; height: 40px; margin: 0;">Dodaj kategorię</button>
            <br><br>

            <b>Wybierz kategorię do usunięcia:</b>
            <select class="form-control" style="width: 250px; height: 40px; margin: 0; margin-bottom: 5px;">
                <option>WPF</option>
            </select>
            <button class="UniversalButton" style="width: 250px; height: 40px; margin: 0;">Usuń kategorię</button>
        </center>
    </div>
    <div class="col-0 col-lg-3"></div>
</div>
<div class="row">
    <div class="col-0 col-lg-3"></div>
    <div class="container-fluid DarkViolet col-12 col-lg-6">
        <hr>
        <center>
            <h3 style="color: #665D8C;">Podkategoria</h3>

            <b style="color: #665D8C;">Nazwa podkategorii:</b>
            <input type="text" class="form-control" style="width: 250px; height: 40px; margin: 0; margin-bottom: 5px;">
            <button class="UniversalButton" style="width: 250px; height: 40px; margin: 0; background-color: #665D8C; border-color: #665D8C;">Dodaj podkategorię</button>
            <br><br>

            <b style="color: #665D8C;">Wybierz podkategorię do usunięcia:</b>
            <select class="form-control" style="width: 250px; height: 40px; margin: 0; margin-bottom: 5px;">
                <option>WPF</option>
            </select>
            <button class="UniversalButton" style="width: 250px; height: 40px; margin: 0; background-color: #665D8C; border-color: #665D8C;">Usuń podkategorię</button>
        </center>
    </div>
    <div class="col-0 col-lg-3"></div>
</div>
<div class="row">
    <div class="col-0 col-lg-3"></div>
    <div class="container-fluid LightViolet col-12 col-lg-6">
        <hr>
        <center>
            <h3 style="color: #837ED7;">Umiejętności</h3>

            <b style="color: #837ED7;">Nazwa umiejętności:</b>
            <input type="text" class="form-control" style="width: 250px; height: 40px; margin: 0; margin-bottom: 5px;">
            <button class="UniversalButton" style="width: 250px; height: 40px; margin: 0; background-color: #837ED7; border-color: #837ED7;">Dodaj umiejętność</button>
            <br><br>

            <b style="color: #837ED7;">Wybierz umiejętność do usunięcia:</b>
            <select class="form-control" style="width: 250px; height: 40px; margin: 0; margin-bottom: 5px;">
                <option>WPF</option>
            </select>
            <button class="UniversalButton" style="width: 250px; height: 40px; margin: 0; background-color: #837ED7; border-color: #837ED7;">Usuń umiejętność</button>
        </center>
    </div>
    <div class="col-0 col-lg-3"></div>
</div>