@{
    Layout = "AdminLoggedLayout";
    ViewData["Title"] = "Wiadomości";
}
<div class="row DarkViolet">
    <div class="col-0 col-lg-3"></div>
    <div class="col-12 col-lg-6">
        <center>
            <hr>
            <h3>Najstarsza wiadomość na którą nie odpowiedziano</h3>
            <b><p>Od:</b> gmail@gmail.com</p>
            <h5>Treść</h5>
            <p>
                Mam problem z wejlfSEGFWEDFWE
                DSFEFEWFddsgdsfhadfhedfhfd
                hfdhdafhfadhfdhSFHSfhsfh
                shfsgSD
            </p>
            <h5>Napisz odpowiedź</h5>
            <textarea style="height: 180px;" class="form-control"></textarea><br>
            <button class="UniversalButton" style="width: 150px;">
                Wyślij odpowiedź
            </button>
        </center>
    </div>
    <div class="col-0 col-lg-3"></div>
</div>