@{
    Layout = "AdminLoggedLayout";
    ViewData["Title"] = "Zgłoszenia";
}
<div class="row DarkViolet">
    <div class="col-12 col-lg-6">
        <center>
            <hr>
            <h3>Zgłoszone konta</h3>
            <div>
                <h5>Tytuł zgłoszenia: nieodpowiednia nazwa</h5>
                <b>Opis zgłoszenia: </b>
                Użytkownik ma nieodpowiednią nazwę.
            </div>
            <div style="width: 70%;">
                <div class="card" style="background-color: rgb(248, 248, 248); margin-bottom: 10px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <center>
                                    <img src="~/Graphics/logoTransparent.png" width="70px" height="70px" style="border-radius: 100%; border: #40356F 1px solid;">
                                </center>
                            </div>
                            <div class="col-9">
                                <h5 class="card-title">Piotr Kur#a Majchrzak</h5>
                                <p class="card-text">Nie posiada żadnego profesjonalnego doświadczenia w zakresie programowania wszelakiego rodzaju aplikacji.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="UniversalButton" style="width: 120px; height: 40px;">Zobacz konto</button>
            <button class="UniversalButton" style="width: 120px; height: 40px; border-color: #665D8C; background-color: #665D8C;">Zostaw konto</button>
            <button class="UniversalButton" style="width: 120px; height: 40px; border-color: #837ED8; background-color: #837ED8;">Usuń konto</button>
            <p style="font-size: 12px;">*Na ekranie widoczne jest ostatnie nie obsłużone zgłoszenie</p>
        </center>
    </div>

    <div class="col-12 col-lg-6">
        <center>
            <hr>
            <h3>Zgłoszone oferty</h3>
            <div>
                <h5>Tytuł zgłoszenia: rasizm</h5>
                <b>Opis zgłoszenia: </b>
                Oferta promuje rasizm.
            </div>
            <div style="width: 70%;">
                <div class="card" style="background-color: rgb(248, 248, 248); margin-bottom: 10px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <center>
                                    <img src="~/Graphics/logoTransparent.png" width="70px" height="70px" style="border-radius: 100%; border: #40356F 1px solid;">
                                </center>
                            </div>
                            <div class="col-9">
                                <h5 class="card-title">Microsoft</h5>
                                <p class="card-text">Blondyni zarabiają zarabiają 5tys zł, rudzi 1,2tys zł.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="UniversalButton" style="width: 120px; height: 40px;">Zobacz ofertę</button>
            <button class="UniversalButton" style="width: 120px; height: 40px; border-color: #665D8C; background-color: #665D8C;">Zostaw ofertę</button>
            <button class="UniversalButton" style="width: 120px; height: 40px; border-color: #837ED8; background-color: #837ED8;">Usuń ofertę</button>
            <p style="font-size: 12px;">*Na ekranie widoczne jest ostatnie nie obsłużone zgłoszenie</p>
        </center>
    </div>
</div>