@{
    Layout = "AdminLoggedLayout";
    ViewData["Title"] = "Powiadomienia";
}
<div class="row">
    <div class="col-0 col-lg-3"></div>
    <div class="col-12 col-lg-6">
        <hr>
        <div class="modeInformationBlock DarkViolet" style="background-color: white;">
            <center><h2 style="margin-bottom: 10px; margin-top: 10px;">Formularz ogłoszeniowy</h2><br></center>
            <label>Podaj tytuł ogłoszenia:</label>
            <input type="text" class="form-control"><br>
            <label>Napisz treść ogłoszenia:</label>
            <textarea style="height: 180px;" class="form-control"></textarea><br>
            <center>
                <button class="UniversalButton" style="width: 200px;">
                    Wyślij
                </button>
            </center>
        </div>
    </div>
    <div class="col-0 col-lg-3"></div>
</div>