.titleFooter {
    font-size: 20px;
    font-weight: bold;
    color: #40356F;
}
body {
    color: #40356F;
}
a{
    color: #40356F;
    text-decoration: none;
}
a:hover{
    color: #40356F;
    text-decoration: underline;
}
.nav-link{
    margin-left: 20px;
    margin-right: 20px;
    color: #40356F;
}
.nav-link:hover{
    margin-left: 20px;
    margin-right: 20px;
    color: #40356F;
    font-weight: bold;
    text-decoration: none;
}
.AddButton{
    background-color: transparent;
    border-color: #40356F;
    color: #40356F;
    font-weight: bold;
    border-radius: 20px;
    margin: 2.5px;
    width: 160px;
}
.AddButton:hover{
    background-color: #40356F;
    border-color: #40356F;
    color: white;
}
.FindButton{
    background-color: transparent;
    border-color: #635FCE;
    color: #635FCE;
    font-weight: bold;
    border-radius: 20px;
    
    margin-left: 5px;
    margin-right: 5px;
    width: 160px;
}
.FindButton:hover{
    background-color: #635FCE;
    border-color: #635FCE;
    color: white;
}
.navbar {
    background-color: white;
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    display: flex;
    justify-content: center;
}
.dropdown-item,.dropdown-toggle,.dropdown{
    color: #40356F;
    text-decoration: none;
}

.dropdown-item:hover,.dropdown-toggle:hover,.dropdown:hover{
    color: #40356F;
    text-decoration: none;
    font-weight: bold;
}
.footerCenter {
    background-color: white;
    width: 100%;
    text-align: center;
}
@media (max-width: 991px) {
    .navbar {
        background-color: white !important;
    }

    .PhotoBackgroundStyle {
        background-color: #F6EFFF;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .buttonsBlock {
        width: 100%;
        height: 150px;
    }
}
@media (min-width: 992px) {
    .navbar {
        background-color: transparent !important;
    }

    .PhotoBackgroundStyle {
        background-image: url("/Graphics/background.png");
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .buttonsBlock {
        width: 100%;
        height: 400px;
    }
}
.MoreInformationBlock{
    background-color: white;
    width: 100%;
    text-align: center;
}
.DarkViolet {
    color: #40356F;
}
.SmallIcon {
    width: 40px;
    height: 40px;
}
.TextBlock {
    margin-top: 50px;
    margin-bottom: 50px;
}
.UniversalButton{
    background-color: #40356F;
    border-color: #40356F;
    border-style: none;
    border-radius: 10px;
    color: white;
    width: 100px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
}
.buttonTopOffers{
    background-color: transparent;
    border-color: #665D8C;
    color: #665D8C;
    font-weight: bold;
    border-radius: 20px;
    margin: 5px;
}
.buttonTopOffers:hover{
    border-color: #40356F;
    color: #40356F;
}