@{
    Layout = "GeneralLayout";
    ViewData["Title"] = "Dane firmy";
}
<div class="container-fluid MoreInformationBlock DarkViolet">
    <h3>Dane rejestrowe</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Pełna nazwa</th>
                <td>Poszukujemy</td>
            </tr>
            <tr>
                <th scope="row">NIP</th>
                <td>0123456789</td>
            </tr>
            <tr>
                <th scope="row">REGON</th>
                <td>123456789</td>
            </tr>
            <tr>
                <th scope="row">Forma prawna</th>
                <td colspan="2">indywidualna działalność gospodarcza</td>
            </tr>
            <tr>
                <th scope="row">Przedsiębiorca</th>
                <td>Piotr Majchrzak</td>
            </tr>
            <tr>
                <th scope="row">
                    Małżeńska wspólność majątkowa
                </th>
                <td>Nie dotyczy</td>
            </tr>
            <tr>
                <th scope="row">
                    Data rozpoczęcia działalności w CEIDG
                </th>
                <td>2023-03-23</td>
            </tr>
            <tr>
                <th scope="row">Adres do doręczeń</th>
                <td>ul. Kamienicka 5/5, 34-608 Kamienica</td>
            </tr>
        </tbody>
    </table>
    <h3>Mapa</h3>
    <iframe src="https://www.google.com/maps/d/embed?mid=1E9ixFfNYjxye23FBisU0k_Tf8fSs-k4&ehbc=2E312F&noprof=1" width="300" height="300"></iframe>
</div>