@{
    Layout = "GeneralLayout";
    ViewData["Title"] = "Kontakt";
}
<div class="MoreInformationBlock DarkViolet" style="background-color: white;">
    <h2 style="margin-bottom: 40px; margin-top: 10px;">Formularz kontaktowy</h2><br>
    <label>Podaj adres email:</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"><br>
    <label>Opisz swój problem:</label>
    <textarea style="height: 180px;" class="form-control"></textarea><br>
    <button class="UniversalButton">
        Wyślij
    </button>
</div>