@{
    Layout = "GeneralLayout";
    ViewData["Title"] = "Pobierz";
}
<div class="container-fluid MoreInformationBlock downloadBlockMargin">
    <label class="styleTextOnDownload">Dziękujemy za pobranie Poszukujemy dla systemu Windows.</label>
    <br>
    <label class="styleTextOnDownload">Pobieranie się nie rozpoczęło? Spróbuj ponownie nasickając w <a class="downloadLink">ten link.</a></label>
</div>