@{
    Layout = "GeneralLayout";
    ViewData["Title"] = "Polityka prywatności";
}
<div style="margin-left: 30px; " class="DarkViolet">
    <div>
        <h1 style="text-align: center;">Polityka prywatności</h1>
        <p>Ostatnia aktualizacja: 16.01.2024r.</p>
    </div>
    <div>
        <h2>1. Informacje ogólne</h2>
        <p>Niniejsza Polityka Prywatności określa zasady przechowywania i dostępu do informacji na urządzeniach Użytkowników korzystających z serwisu ogłoszeniowego.</p>
    </div>
    <div>
        <h2>2. Dane osobowe</h2>
        <p>2.1. Administratorem danych osobowych przetwarzanych w serwisie jest firma Poszukujemy.</p>
        <p>2.2. Serwis zbiera informacje podane dobrowolnie przez Użytkownika, w tym dane osobowe, na zasadach określonych w przepisach prawa polskiego, w tym w ustawie o ochronie danych osobowych.</p>
        <p>2.3. Podanie danych osobowych jest dobrowolne, ale może być konieczne do korzystania z niektórych funkcji serwisu.</p>
    </div>
    <div>
        <h2>3. Cel przetwarzania danych</h2>
        <p>3.1. Dane osobowe Użytkowników przetwarzane są w celu:</p>
        <ul>
            <li>umożliwienia korzystania z funkcji serwisu,</li>
            <li>realizacji zamówień,</li>
            <li>obsługi zgłoszeń i zapytań.</li>
        </ul>
        <p>3.2. Dane nie są przetwarzane ani wykorzystywane w sposób sprzeczny z prawem.</p>
    </div>
    <div>
        <h2>4. Pliki cookie</h2>
        <p>4.1. Serwis wykorzystuje pliki cookie w celu:</p>
        <ul>
            <li>zapewnienia prawidłowego funkcjonowania serwisu,</li>
            <li>analizy ruchu na stronie,</li>
            <li>personalizacji treści i reklam.</li>
        </ul>
        <p>4.2. Użytkownik może zarządzać ustawieniami plików cookie za pomocą ustawień przeglądarki internetowej.</p>
    </div>
</div>
