@{
    Layout = "UserLayout";
    ViewData["Title"] = "Zaloguj";
}
<div class="row">
    <div class="col-md-6 loginStyle">
        <img class="loginPhoto" src="~/Graphics/logoTransparent.png" asp-append-version="true"><br>
        <h3>Logowanie użytkownik</h3>
        <form class="formStyle">
            <div class="mb-3">
                <input placeholder="Podaj email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <input placeholder="Podaj hasło" type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <a href="RecoverPassword">Nie pamiętasz hasła?</a>
        </form>
        <button type="submit" class="UniversalButton" style="width: 100%; height: 40px; border-radius: 5px;">Zaloguj</button>
        <button type="submit" class="UniversalButton ButtonSkills">Wróć na stronę główną</button><br><br>
        <label>Nie masz konta?</label>
        <a href="Register">Zarejestruj się</a><br>
        <label>© 2024 Piotr Majchrzak 4TP1</label>
    </div>
    <div class="col-md-6 rightSiteLogin">
        <h1 class="CenterText" style="color: #635FCE;">Zaloguj jako firma</h1>
    </div>
</div>