@{
    Layout = "UserLayout";
    ViewData["Title"] = "Zarejestruj się";
}
<div class="row">
    <div class="col-md-6 loginStyle">
        <img class="loginPhoto" src="~/Graphics/logoTransparent.png" asp-append-version="true"><br>
        <h3>Rejestracja użytkownik</h3>
        <form class="formStyle">
            <div class="mb-3">
                <input placeholder="Podaj email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <input placeholder="Podaj hasło" type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Akceptuje <a target="_blank" href="/General/PrivacyPolicy">politykę prywatności</a> portalu Poszukujemy.</label>
            </div>
            <button type="submit" class="UniversalButton" style="width: 100%; height: 40px; border-radius: 5px;">Utwórz konto</button>
        </form>
        <button onclick="BackToHomePage()" type="submit" class="UniversalButton ButtonSkills">Wróć na stronę główną</button><br><br>
        <label>© 2024 Piotr Majchrzak 4TP1</label>
    </div>
    <div class="col-md-6 rightSiteLogin">
        <h1 onclick="SwapToFirmPage()" class="CenterText" style="color: #635FCE;">Zaloguj jako firma</h1>
    </div>
</div>