@{
    Layout = "FirmLoggedLayout";
    ViewData["Title"] = "Historia zgłoszeń";
}
<div>
    <div class="col-0 col-lg-3"></div>
    <div class="container-fluid DarkViolet col-12 col-lg-6">
        <hr>
        <b>Historia aplikujących kandydatów</b>
        <div class="row">
            <!--Kod generowany z backendu-->
            <div class="col-sm-6" style="margin-bottom: 10px;">
                <div class="card" style="background-color: rgb(248, 248, 248);">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <center>
                                    <img src="~/Graphics/logoTransparent.png" width="70px" height="70px" style="border-radius: 100%; border: #40356F 1px solid;">
                                </center>
                            </div>
                            <div class="col-9">
                                <h5 class="card-title">Piotr Majchrzak</h5>
                                <p class="card-text">Nie posiada żadnego profesjonalnego doświadczenia w zakresie programowania wszelakiego rodzaju aplikacji.</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-4">
                                <center><button class="UniversalButton" style="width: 95%;">Zobacz profil</button></center>
                            </div>
                            <div class="col-4">
                                <center><button style="background-color: #665D8C; border: #665D8C;margin: auto; width: 95%;" class="UniversalButton">Zobacz ofertę</button></center>
                            </div>
                            <div class="col-4">
                                <div class="navbar navbar-expand-lg" style="background-color: rgb(248, 248, 248);">
                                    <ul class="navbar-nav" style="background-color: rgb(248, 248, 248);">
                                        <li class="nav-item dropdown">
                                            <a style="margin: auto;" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Opcje
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item">Usuń z historii</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Koniec-->
        </div>
    </div>
    <div class="col-0 col-lg-3"></div>
</div>