@{
    Layout = "FirmLoggedLayout";
    ViewData["Title"] = "Profil kandydata";
}
<div class="row">
    <div class="col-0 col-lg-1"></div>
    <div class="col-12 col-lg-10">
        <hr>
        <div class="row DarkViolet">
            <div class="col-12 col-lg-2" style="border-right: 0.5px solid #CFCCDB;">
                <img src="~/Graphics/logoTransparent.png" width="150px" height="150px" style="border-radius: 20px;">
                <h4 style="font-weight: bolder; margin-top: 15px; margin-bottom: 25px;">Piotr Majchrzak</h4>
                <label>Miejsce zamieszkania</label><br>
                <b>Kamienica</b><br>
                <label style="margin-top: 5px;">Email</label><br>
                <b>email@gmail.com</b><br>
                <label style="margin-top: 5px;">Numer telefonu</label><br>
                <b>+48 123 456 789</b><br>
                <label style="margin-top: 15px; font-weight: bold;">Umiejętności</label><br>
                <button class="ButtonSkills">C#</button>
                <button class="ButtonSkills">WPF</button>
            </div>
            <div class="col-12 col-lg-8" style="border-right: 0.5px solid #CFCCDB;">
                <div class="row">
                    <div class="col-12">
                        <h5 style="font-weight: bolder;">Opis profilu</h5>
                        <label>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</label>
                    </div>
                    <hr>
                    <div class="row">
                        <h4 style="font-weight: bolder; text-align: center;">Doświadczenie</h4>
                        <div class="row">
                            <div class="col-6" style="border-right: 0.5px solid #CFCCDB; padding: 2px; padding: 2px;">
                                <label>Nazwa pracy</label><br>
                                <b>Programista</b><br>
                                <label style="margin-top: 5px;">Pozycja</label><br>
                                <b>Programista c#</b><br>
                                <label style="margin-top: 5px;">Firma</label><br>
                                <b>Microsoft</b><br>
                                <div class="row">
                                    <div class="col-6">
                                        <label style="margin-top: 5px;">Kraj</label><br>
                                        <b>Polska</b><br>
                                    </div>
                                    <div class="col-6">
                                        <label style="margin-top: 5px;">Miasto</label><br>
                                        <b>Warszawa</b><br>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label style="margin-top: 5px;">Początek pracy</label><br>
                                        <b>12-01-2023</b><br>
                                    </div>
                                    <div class="col-6">
                                        <label style="margin-top: 5px;">Koniec pracy</label><br>
                                        <b>13-01-2023</b><br>
                                    </div>
                                </div>
                                <hr>
                                <b>Szczegóły pracy</b><br>
                                <label>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when</label><br>
                            </div>
                            <div class="col-6" style="padding: 2px; padding: 2px;">
                                <label>Nazwa pracy</label><br>
                                <b>Programista</b><br>
                                <label style="margin-top: 5px;">Pozycja</label><br>
                                <b>Programista c#</b><br>
                                <label style="margin-top: 5px;">Firma</label><br>
                                <b>Microsoft</b><br>
                                <div class="row">
                                    <div class="col-6">
                                        <label style="margin-top: 5px;">Kraj</label><br>
                                        <b>Polska</b><br>
                                    </div>
                                    <div class="col-6">
                                        <label style="margin-top: 5px;">Miasto</label><br>
                                        <b>Warszawa</b><br>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label style="margin-top: 5px;">Początek pracy</label><br>
                                        <b>12-01-2023</b><br>
                                    </div>
                                    <div class="col-6">
                                        <label style="margin-top: 5px;">Koniec pracy</label><br>
                                        <b>13-01-2023</b><br>
                                    </div>
                                </div>
                                <hr>
                                <b>Szczegóły pracy</b><br>
                                <label>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when</label><br>
                            </div>
                            <hr>
                        </div>
                        <div class="row">
                            <h4 style="font-weight: bolder; text-align: center;">Edukacja</h4>
                            <div class="row">
                                <div class="col-6" style="padding: 2px; border-right: 0.5px solid #CFCCDB;">
                                    <label>Nazwa szkoły</label><br>
                                    <b>ZSTIO</b><br>
                                    <label style="margin-top: 5px;">Lokalizacja szkoły</label><br>
                                    <b>Limanowa</b><br>
                                    <label style="margin-top: 5px;">Uzyskane wyształcenie</label><br>
                                    <b>Techniczne - programista</b><br>
                                    <div class="row">
                                        <div class="col-6">
                                            <label style="margin-top: 5px;">Początek edukacji</label><br>
                                            <b>12-01-2023</b><br>
                                        </div>
                                        <div class="col-6">
                                            <label style="margin-top: 5px;">Koniec edukacji</label><br>
                                            <b>13-01-2023</b><br>
                                        </div>
                                    </div>
                                    <hr>
                                    <b>Szczegóły edukacji</b><br>
                                    <label>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when</label><br>
                                </div>
                                <div class="col-6" style="padding: 2px;">
                                    <label>Nazwa szkoły</label><br>
                                    <b>ZSTIO</b><br>
                                    <label style="margin-top: 5px;">Lokalizacja szkoły</label><br>
                                    <b>Limanowa</b><br>
                                    <label style="margin-top: 5px;">Uzyskane wyształcenie</label><br>
                                    <b>Techniczne - programista</b><br>
                                    <div class="row">
                                        <div class="col-6">
                                            <label style="margin-top: 5px;">Początek edukacji</label><br>
                                            <b>12-01-2023</b><br>
                                        </div>
                                        <div class="col-6">
                                            <label style="margin-top: 5px;">Koniec edukacji</label><br>
                                            <b>13-01-2023</b><br>
                                        </div>
                                    </div>
                                    <hr>
                                    <b>Szczegóły edukacji</b><br>
                                    <label>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when</label><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2">
                <label style="margin-top: 15px; font-weight: bold;">Znajomość języków</label><br>
                <button class="ButtonSkills">Aniegiski - B2</button>
                <button class="ButtonSkills">Polski - Ojczysty</button>
                <br><br>
                <label style="margin-top: 15px; font-weight: bold;">Zainteresowania</label><br>
                <button class="ButtonSkills">Piłka nożna</button>
                <button class="ButtonSkills">Piwo</button>
            </div>
        </div>

    </div>
    <div class="col-0 col-lg-1"></div>
</div>