@{
    Layout = "FirmLoggedLayout";
    ViewData["Title"] = "Profil firmy";
}
<div class="row">
    <div class="col-0 col-lg-2"></div>
    <div class="container-fluid DarkViolet col-12 col-lg-8">
        <hr>
        <div class="row">
            <div class="col-12 col-lg-3 LightViolet firmProfileBorder">
                <img src="~/Graphics/logoTransparent.png" width="150px" height="150px" style="border-radius: 5%; border: #40356F 1px solid;">
                <h3 class="DarkViolet" style="margin-bottom: 10%;">Nazwa firmy</h3>
                <label>Lokalizacja</label><br>
                <b class="DarkViolet">Kamienica, Polska</b><br>
                <label>NIP</label><br>
                <b class="DarkViolet">0123456789</b><br>
                <label>REGON</label><br>
                <b class="DarkViolet">123456789</b><br>
            </div>
            <div class="col-12 col-lg-5 firmProfileBorder">
                <b class="DarkViolet" style="font-size: 18px;">Opis firmy</b>
                <label>
                    Witamy w świecie, gdzie kod staje się życiem, a innowacje są naszą pasją! Jesteśmy dynamiczną firmą programistyczną, dążącą do rewolucji w cyfrowej przestrzeni poprzez dostarczanie wyjątkowych rozwiązań programistycznych.
                </label>
            </div>
            <div class="col-12 col-lg-3 firmProfileBorder">
                <label>Email</label><br>
                <b class="DarkViolet">kontakt@outlook.com</b><br>
                <label>Numer telefonu</label><br>
                <b class="DarkViolet">+48 534323432</b><br>
            </div>
        </div>
        <hr>
    </div>
    <div class="col-0 col-lg-2"></div>
</div>