@{
    Layout = "FirmLoggedLayout";
    ViewData["Title"] = "Strona główna";
}
<div>
    <div class="col-0 col-lg-3"></div>
    <div class="container-fluid DarkViolet col-12 col-lg-6">
        <form style="display: flex; flex-wrap: nowrap; align-items: center;">
            <input style="flex: 1; margin-right: 10px; height: 40px;" class="form-control" type="search" placeholder="Wpisz nazwę oferty" aria-label="Search">
            <button style="width: 20%; height: 40px; font-size: 14px;" class="UniversalButton" type="submit">Wyszukaj ofertę</button>
        </form>
    </div>
    <div class="col-0 col-lg-3"></div>
</div>
<div>
    <div class="col-0 col-lg-3"></div>
    <div class="container-fluid DarkViolet col-12 col-lg-6">
        <div class="navbar navbar-expand-lg">
            <b style="font-size: 30px;">Programista</b>
            <ul class="navbar-nav" style="margin-left: 70%;">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Opcje
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="ViewAdvertisements">Zobacz pełną ofertę</a></li>
                        <li><a class="dropdown-item" href="ModifyAdvertisement">Modyfikuj ofertę</a></li>
                        <li><a class="dropdown-item">Usuń ofertę</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <p>Dołącz do naszego zespołu jako doświadczony Programista C#/WPF i współtwórz innowacyjne aplikacje, które przyczynią się do rozwoju naszych produktów i usług. Jako kluczowy członek zespołu rozwoju oprogramowania będziesz odpowiedzialny za projektowanie, implementację oraz utrzymanie aplikacji desktopowych opartych na platformie Windows przy użyciu języka C# i frameworku Windows Presentation Foundation (WPF).</p>
        <b>Wymagania: </b><br>
        <label>-Projektowanie i implementacja efektywnych rozwiązań w języku C# przy wykorzystaniu technologii WPF.</label><br>
        <label>-Współpraca z zespołem projektowym w celu określenia i zrozumienia wymagań funkcjonalnych.</label><br>
        <label>-Utrzymywanie i rozwijanie istniejących aplikacji, identyfikowanie i naprawianie błędów.</label><br>
        <b>Umiejętności -</b><button class="ButtonSkills">Xamarin.Forms</button><button class="ButtonSkills">Github</button><button class="ButtonSkills">VS 2022</button><button class="ButtonSkills">C#</button>
        <br><label style="margin-right: 25px;"><b>Lokalizacja - </b>Kamienica</label><label style="margin-right: 25px;"><b>Rodzaj umowy -</b> O pracę</label> <b>Widełki zarobków - </b> 7000/8000zł
        <hr>
    </div>
    <div class="col-0 col-lg-3"></div>
</div>